<h2>運営者について</h2>
<p>こんにちは、当サイトを運営しているナベです。</p>
<p>このサイトは、「ゲームに関するメモを手軽に作成・記録でき、必要に応じて情報の共有やフレンドが見つけられる場所があったらいいな」と</p>
<p>思ったのがきっかけで立ち上げました。</p>
<p>自分で調べたり、実際にプレイして感じたことを発信しながら、同じようにゲームを楽しむ仲間とつながれたら嬉しいです。</p>
<p>このサイトが、みなさんのゲームライフに少しでも役立てれば嬉しいです。</p>