<div class="container group-events-editor">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="group-events-editor__page-title">イベントを編集</h1>
      <%= render 'public/shared/group/event/form' %>
    </div>
  </div>
</div>