<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="font-bold mb-5 text-center">イベント作成</h2>
      <%= render 'public/shared/group_events/form' , submit_label: "イベントを登録" %>
    </div>
  </div>
</div>