<div class="image-container image-container-notice">
  <div class="title-container notice-box">
    <div class="notice-title">
      <%= render 'shared/home/title', title: PostConstants::NOTIFICATION_TITLE %>
    </div>

  <div class="scrollable-box">
    <P>5月14日　サイトデプロイ!!</P>
    <p>コンテンツ...</p>
    <p>コンテンツ...</p>
    <p>コンテンツ...</p>
    <p>コンテンツコンテンツコンテンツコンテンツコンテンツコンテンツ</p>
    <p>コンテンツ...</p>
    <p>コンテンツ...</p>
    <p>コンテンツ...</p>
    <p>コンテンツ...</p>
  </div>
  </div>
  </div>