/*    共通で使用    */
// class間でのスペースを空ける
.space-between {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.space-between-top {
  margin-top: 4rem;
}
.space-between-bottom {
  margin-bottom: 4rem;
}
.space-between-mini {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.space-between-mini-top {
  margin-top: 2rem;
}
.space-between-mini-bottom {
  margin-bottom: 2rem;
}