// 表示できるものがないときの文章のスタイル
.empty-message {
  --empty-message-font: 1.1rem;

  display: inline-block;              // 幅を文字列に合わせる
  padding: 0.25rem 1rem;
  font-size: var(--empty-message-font);
  color: #6c757d;
  background-color: rgba(209, 236, 241, 0.6);
  border-radius: 8px;
}

// レスポンシブ調整
@media (max-width: 1024px) {
  .empty-message {
    --empty-message-font: 1rem;
  }
}

@media (max-width: 768px) {
  .empty-message {
    --empty-message-font: 0.9rem;
  }
}

@media (max-width: 480px) {
  .empty-message {
    --empty-message-font: 0.8rem;
  }
}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  .empty-message {
    --empty-message-font: 0.75rem;
  }
}

@media (max-width: 320px) {
  .empty-message {
    --empty-message-font: 0.7rem;
  }
}