/*   ページのタイトルの設定   */
// h1の共通設定
h1 {
  font-size: 2rem;
  margin: 0;                        // 初期設定のマージンをリセット
}

// h2の共通設定
h2 {
  font-size: 1.6rem;
  margin: 0;                        // 初期設定のマージンをリセット
}

// レスポンシブ調整
@media (max-width: 1024px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}

// 768pxだとmdスタイルとの誤差でブレイクポイントのズレが生じるので0.02px小さくしている
@media (max-width: 767.98px) {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }
}