<div class="container group-form">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <h1 class="text-center mb-2">グループ情報の編集</h1>
      <%= render 'public/shared/group/edit_form' %>
    </div>
  </div>
</div>