<div class="groups__title-box-wrapper">
  <div class="groups__title-box">
    <h1>参加グループ一覧</h1>
  </div>
</div>

<div class="container my-groups-page">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#owner_groups">オーナーのグループ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#member_groups">メンバーとして参加中のグループ</a>
    </li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane fade show active" id="owner_groups">
      <%= render 'public/shared/group/index', groups: @owned_groups,
          empty_message: "作成したグループはありません", pagination_param: :owned_page %>
    </div>
    <div class="tab-pane fade" id="member_groups">
      <%= render 'public/shared/group/index', groups: @joined_groups, 
        empty_message: "メンバーとして参加しているグループはありません", pagination_param: :joined_page %>
    </div>
  </div>
</div>