<% if @user.present? %>
  <h2 class="user-posts-title"><%= @user.nickname %>さんの投稿一覧</h2>
<% else %>
  <h2 class="user-posts-title">全体の投稿一覧</h2>
<% end %>

<%= render 'public/shared/user_post/post_index' %>