<div class="dashboard-group__board dashboard-group__notices">
  <h4 class="dashboard-group__board-title">お知らせボード</h4>
  <% if @group_notices.any? %>
    <ul class="dashboard-group__notice-list list-unstyled">
      <% @group_notices.first(3).each do |notice| %>
        <li class="dashboard-group__notice-item mb-3">
          <strong><%= notice.title %></strong><br>
          <span><%= truncate(notice.body, length: 50) %></span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>お知らせはまだありません。</p>
  <% end %>

  <div class="dashboard-group__link-right">
    <%= link_to "▶︎ お知らせ一覧", group_notices_path(@group), class: "dashboard-group__more-link" %>
  </div>
</div>