<div class="container group-notices-editor">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="group-notices-editor__page-title">新しいお知らせを作成</h1>
      <%= render 'public/shared/group/notice/form', submit_label: "作成する" %>
    </div>
  </div>
</div>