<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="font-bold mb-5 text-center">新しいお知らせを作成</h2>
      <%= render 'public/shared/group/notice/form', submit_label: "作成する" %>
    </div>
  </div>
</div>