<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="group-posts__page-title">
        <span class="group_posts__title-text"><%= @group.name %>の投稿一覧</span>
      </h2>
      <%= render 'public/shared/group/post/index' %>
    </div>
  </div>
</div>