<h1 class="sr-only">投稿詳細</h1>

<div class="container group-post-show">

  <%= render 'public/shared/group/post/show' %>

  <h2 class="text-center" id="comment_form">コメント</h2>

  <hr>

  <%= render 'public/shared/group/post_comment/post_form', group_post: @group_post %>

  <hr>

  <%= render 'public/shared/group/post_comment/list', group_post: @group_post %>
</div>