<h5>おすすめ</h5>
<ul class="list-unstyled">
  <li><%= render "public/shared/user/user_links", my_posts_index: true %></li>
  
  <li><%= render "public/shared/user/user_links", all_posts_index: true %></li>
</ul>