<% if memberships.present? %>
  <div class="row group-members__list">
    <% memberships.each do |membership| %>
      <div class="col-12 col-md-6 group-members__list-item">
        <%= link_to group_member_path(membership.group, membership), 
          class: "group-members__list-link" do %>
          <%= image_tag(membership.user.profile_image, 
            alt: membership.user.nickname, class: "group-members__list-member-image") %>
          <span class="group-members__list-member-nickname"><%= membership.user.nickname %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-message"><%= title %>はいません</p>
<% end %>