<h2>設定</h2>

<!-- 設定メニュー -->
<div>
  <%= render 'public/shared/user/user_links', show_edit: true, as: :button %>
</div>

<div>
  <%= render 'public/shared/auth/auth_links', private: true, as: :button %>
</div>

<div>
  <%= render 'public/shared/auth/auth_links', password: true, as: :button %>
</div>

<div>
  <%= render 'public/shared/user/user_links', withdraw: true, as: :button %>
</div>

