<div class="container my-4">
  <h2 class="text-center mb-4">お知らせを編集</h2>
<%= render partial: "admin/shared/information/form", locals: { model: @information, 
  url: admin_information_path, submit_label: "作成" } %>

    <!-- 戻るリンク -->
    <div class="text-center">
      <%= link_to "一覧に戻る", admin_informations_path %>
    </div>
  </div>
</div>