<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="user-posts__title">全体の投稿一覧</h2>
      <%= render 'public/shared/user_post/post_index', user_posts: @user_posts %>
    </div>
  </div>
</div>