<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="user-posts__title">
        <span class="user-posts__title-text">全体の投稿一覧</span>
      </h1>
      <%= render 'public/shared/user_post/index', user_posts: @user_posts %>
    </div>
  </div>
</div>