<div class="private-box">
  <div class="private-box__info">
    <div class="private-box__info-item">
      <div class="private-box__title">名前(姓)</div>
      <div class="private-box__name"><%= @user.last_name %></div>
    </div>

    <div class="private-box__info-item">
      <div class="private-box__title">名前(名)</div>
      <div class="private-box__name"><%= @user.first_name %></div>
    </div>

    <div class="private-box__info-item">
      <div class="private-box__title">メールアドレス</div>
      <div class="private-box__email"><%= @user.email %></div>
    </div>
  </div>
</div>