<div class="space-between-top">
  <%= image_tag(@user.profile_image, size: "40x40", 
    class: "rounded-circle", style: "margin-right: 8px;") %>
  <%= @user.nickname %>
</div>

<div class="space-between">
  <%= content_tag :label, "自己紹介" %>
  <p><%= @user.bio %></p>
</div>
