<div class="profile-box">

  <div class="profile-box__image-wrapper">
    <!-- プロフィール画像 -->
    <div class="profile-image">
      <%= image_tag(@user.profile_image, size: "200x200", class: "profile-box__image") %>
    </div>
  </div>

  <div class="profile-box__info">
    <!-- ニックネームボックス -->
    <div class="profile-box__info-item">
      <div class="profile-box__title">ニックネーム</div>
      <div class="profile-box__nickname"><%= @user.nickname %></div>
    </div>

    <!-- 自己紹介ボックス -->
    <div class="profile-box__info-item">
      <div class="profile-box__title">自己紹介</div>
      <p class="profile-box__bio"><%= @user.bio %></p>
    </div>
  </div>
</div>