<div class="container mt-3">
  <h2 class="text-center mb-4"><%= @user.nickname %>さんのプロフィール</h2>

  <ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#profile">プロフィール</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#posts">投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#groups">グループ</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="profile">
      <%= render 'public/shared/user/public_profile' %>
    </div>
    <div class="tab-pane fade" id="posts">
      <%= render 'public/shared/user_post/index' %>
    </div>
    <div class="tab-pane fade" id="groups">
      <%= render 'public/shared/group/index' %>
    </div>
  </div>
</div>
