<h1 class="text-center">新規投稿</h1>
<div class="post-form__container">
  <%= render "public/shared/user_post/form", 
    form_action_url: @form_action_url, form_method: @form_method, submit_label: '投稿する' %>
</div>