<div class="container user-post-show">

  <%= render 'public/shared/user_post/show' %>

  <h2 class="text-center" id="comment_form">コメント</h2>

  <hr>

  <% if user_signed_in? %>
    <%= render 'public/shared/user_post_comment/post_form', user_post: @user_post %>
  <% else %>
    <p class="text-center">コメントするにはログインが必要です。</p>
  <% end %>

  <hr>

  <%= render 'public/shared/user_post_comment/list', user_post: @user_post %>
</div>