<h1 class="sr-only">投稿詳細</h1>

<div class="container user-post-show">

  <%= render 'public/shared/user_post/show' %>

  <h2 class="text-center" id="comment_form">コメント</h2>

  <hr>

  <%= render 'public/shared/user_post_comment/post_form', user_post: @user_post %>

  <hr>

  <%= render 'public/shared/user_post_comment/list', user_post: @user_post %>
</div>