<header class="container-fluid">
  <div class="row">
    <div class="col-2 d-flex justify-content-start align-items-center">
      <%= link_to image_tag("logo/logo.png", class: "site-logo"), about_path, class: "logo-link" %>
    </div>
    <% if user_signed_in? %>
      <div class="col-8">
        <%= render 'public/shared/header/global_search' %>
      </div>
      <div class="col-2 header__nav-wrapper">
        <ul class="nav">
          <%= render 'public/shared/header/user_nav' %>
        </ul>
      </div>
    <% else %>
      <div class="col-10 header__nav-wrapper">
        <ul class="nav">
          <%= render 'public/shared/header/no_user_nav' %>
        </ul>
      </div>
    <% end %>
  </div>
</header>