<h2 class="text-xl font-bold mb-4">イベント作成</h2>

<%= render 'public/shared/group_events/form' %>

<div class="mt-4">
  <%= link_to "戻る", dashboard_group_path(@group), class: "btn btn-outline" %>
</div>