<h3>お問い合わせ</h3>
<p>ご質問やご意見がありましたら、お気軽にご連絡ください。</p>
<!-- メールアドレスは作成していないので使えないようにしてあります、使える場合はコメントアウトしてある行を使用 -->
<p>メールアドレス: <a href="mailto:info@ecf_game.com" 
  style="pointer-events: none; color: white;">info@ecf_game.com (仮実装中のため送信できません)</a></p>
<!-- <p>メールアドレス: <a href="mailto:info@ecf_game.com">info@gamesphere.com</a></p> -->