<%= form_with(model: [@group_post, @group_post_comment],
  url: group_post_comments_path(@group, @group_post), local: true, 
    html: { class: "group-post-comment" }) do |f| %>

  <div class="group-post-comment__form-row">
    <%= f.text_area :body, class: "group-post-comment__textarea", 
      placeholder: group_post_comment_body_placeholder, maxlength: GroupPostComment::BODY_MAX_LENGTH %>

    <div class="group-post-comment__submit">
      <%= f.submit "コメントする", class: "group-post-comment__submit-btn"  %>
    </div>
  </div>

<% end %>