<%= form_with(model: [group_post, group_post_comment],
  url: group_post_comments_path(group_post.group, group_post), local: true) do |f| %>

  <%# "コメントへの返信に使用" %>
  <%= f.hidden_field :parent_comment_id, value: group_post_comment.parent_comment_id %>

  <div class="row align-items-center no-gutters mb-2">

    <!-- 入力エリア -->
    <div class="col-7 pl-3">
      <%= f.text_area :body, rows: 1, class: "form-control", 
        placeholder: group_post_comment_reply_body_placeholder, style: "resize: none;", 
          maxlength: GroupPostComment::BODY_MAX_LENGTH %>
    </div>

    <%# 空欄(画像+ニックネーム用のスペース) #%>
    <div class="col-2"></div>

    <!-- 送信ボタン -->
    <div>
      <%= f.submit "返信する", class: "btn btn-primary btn-sm btn-block" %>
    </div>
  </div>
<% end %>