<% @results.each do |result| %>

  <!-- ユーザー情報の表示 -->
  <% if result.is_a?(User) %>

    <%= render 'admin/shared/search/result/users' %>

  <!-- 投稿情報の表示 -->
  <% elsif result.is_a?(Post) %>

    <%= render 'admin/shared/search/result/user_posts' %>

  <!-- グループ情報の表示 -->
  <% elsif result.is_a?(Group) %>
        
    <%= render 'admin/shared/search/result/groups' %>

  </div>

  <!-- グループ内投稿情報の表示 -->
  <% elsif result.is_a?(GroupPost) %>

    <%= render 'admin/shared/search/result/group_posts' %>
    
  </div>
  <% end %>
<% end %>
