<h2>アカウント情報編集</h2>

<% if @profile_edit %>
  <%= render "public/shared/auth/edit_profile", user: resource, submit_label: "更新する" %>
<% elsif @password_edit %>
  <%= render "public/shared/auth/edit_password", user: resource, submit_label: "更新する" %>
<% end %>