<div class="container">
  <div class="row">
    <div class="auth-page-title-box col-auto offset-0 offset-xl-2">
      <h1>アカウント情報編集</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-xl-8">
      <% if @profile_edit %>
        <%= render "public/shared/auth/edit_profile", user: resource %>
      <% elsif @password_edit %>
        <%= render "public/shared/auth/edit_password", user: resource %>
      <% end %>
    </div>
  </div>
</div>