/*    フォームの設定    */
// ラベルと入力欄の親要素に使用する
.form-label-and-input {
  display: flex;
  flex-wrap: nowrap;                // inputとlabelを折り返さない
  align-items: center;
  margin-bottom: 1rem;
}

// ラベルに使用
.form-label-and-input label {
  width: 50%;
}

// 入力欄に使用
.form-label-and-input input {
  flex: 1;                          // ラベルの残りスペースを使用
  max-width: 300px;                 // 入力欄を小さくする
  padding: 0.5rem;
  border: 1px solid #ccc;         // フォームの枠線を薄くし、入力時項目を選択していることがわかりやすくなる
  border-radius: 4px;
}

// 横並びの姓と名のフィールド
.name-fields {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;   // 子要素を左右に分ける
  flex: 1;                          // ラベルの残りスペースを使用
}

// 姓・名で使用する短い入力フォームのスタイル
input.short-input {
  max-width: 90px;
  width: auto;
}

// 姓・名の上下中央寄せ
.name-group {
  display: flex;
  align-items: center;
}

// 親要素の左端に寄せるために追加
.parent-element {
  position: relative;               // 親要素にrelativeを指定して基準を設定
  margin-top: 1.5rem;
}

// メールアドレス入力フォーム
.email-input {
  position: absolute;               // 親要素に対して絶対位置を設定
  right: 0;                         // 親要素の右端に合わせる
  width: 60%;                       // 親要素の幅に合わせてフォームの幅を広げる
  box-sizing: border-box;           // paddingを含めた幅を計算
}

// 共通設定でlabelの右側にmarginを設けているので削除
.sub-label {
  margin-right: 0;
}

// 画像フォームの設定
.profile-image-upload {
  display: flex;
  align-items: center;              // 中央揃え
  margin-bottom: 1.5rem;
}

// ラベルに使用
.profile-image-upload label {
  width: 50%;
  margin-bottom: 1.5rem;
}

// 入力欄に使用
.profile-image-upload input {
  border: none;                     // 枠線を消す
  background: none;                 // 背景を消す
  box-shadow: none;                 // ボックスシャドウを消す
  padding: 0;                       // 内側の余白をなくす
  font-size: 1rem;                  // フォントサイズの調整
  color: #333;
}

// 自己紹介フォームの設定
.bio-form {
  display: flex;                    // flexboxでレイアウト
  flex-direction: column;           // 垂直方向に並べる
  margin-bottom: 1rem;              // 下部に余白
  align-items: center;              // コンテンツを中央揃え
}

// 自己紹介フォームの入力欄の設定
.bio-input {
  width: 100%;
  padding: 0.8rem;                  // 内側の余白
  font-size: 1rem;                  // 文字サイズ
  border: 1px solid #ccc;         // 枠線
  border-radius: 4px;               // 角を丸く
  resize: vertical;                 // 縦方向にリサイズ可能
  box-sizing: border-box;           // paddingを含めた幅を計算
}

/*   エラーメッセージの設定   */
// ulの表示で使用
#error_explanation ul {
  padding-left: 20px;               // スペースを追加してリストを右に寄せる 
  margin-bottom: 2rem;              // エラーメッセージと入力フォームの間に余白を設定
}

.tag-box {
  margin-top: 1rem;
}

.tag-box__label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}