<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3 class="my-4 text-center">管理者メモ編集</h3>
      <p><strong>ニックネーム:</strong> <%= @membership.user.nickname %></p>

      <%= render 'public/shared/group/member/form' %>
      
      <%= link_to "戻る", group_member_path(@group, @membership), 
        class: "btn btn-sm btn-outline-secondary mt-3" %>
    </div>
  </div>
</div>