<div class="container group-members-note">
  <div class="row justify-content-center">
    <div class="col-md-10 col-xl-8">
      <h1 class="group-members-note__page-title">管理者メモ編集</h1>
      <div class="group-members-note__label">ニックネーム</div>
      <div class="group-members-note__member-nickname"><%= @membership.user.nickname %></div>
      
      <%= render 'public/shared/group/member/form' %>

    </div>
  </div>
</div>