<div class="container my-4">
  <h2 class="text-center mb-4">申し送りを編集</h2>
    <%= render partial: "admin/shared/admin_note/form", locals: { admin_note: @admin_note, 
      form_url: admin_note_path(@admin_note), submit_label: "更新する" } %>

    <!-- 戻るリンク -->
    <div class="text-center">
      <%= link_to "一覧に戻る", admin_notes_path %>
    </div>
  </div>
</div>
