<div class="group-comment-box border p-2 mb-2 rounded">
  <div class="text-sm text-gray-700 font-semibold">
    <%= comment.user.nickname %>（<%= l(comment.created_at, format: :short) %>）
  </div>
  <div class="text-gray-900">
    <%= simple_format(comment.body) %>
  </div>

  <% if comment.user == current_user || comment.group_post.group.owner_id == current_user.id %>
    <%= button_to '削除', group_post_comment_path(comment.group_post, comment), method: :delete,
          data: { confirm: 'このコメントを削除してもよろしいですか？' }, class: "text-red-500 text-sm mt-1" %>
  <% end %>
</div>