/*    アバウトページの設定    */
// すべてのセクションの共通設定
body.homes.about section {
  width: 80%;
  margin: 0 auto 1.5rem;            // 左右中央揃え、下側に余白
  padding: 2.5rem;
  border-radius: 2rem;              // 角に丸みを追加
  text-align: left;                 // テキストを左揃え
}

// すべてのsection内のh、pタグの共通設定(hタグはh3を使用しているためh3を指定)
body.homes.about section h3 {
  margin-bottom: 1.5rem;
}

body.homes.about section p {
  padding-left: 1rem;
}

// ヘッダー
.about-page-header {
  width: 90%;
  margin: 1.5rem auto;              // 左右中央揃え、上下側に余白
  background-color: rgba(108, 99, 255, 0.8);
  color: white;
  text-align: center;
}

// サイトの目的
.site-purpose {
  background-color: rgba(76, 175, 80, 0.8);
  color: black;
}

// 運営者情報
.about-creator {
  background-color: rgba(96, 125, 139, 0.8);
  color: black;
}

// 取り扱っているコンテンツ
.site-content {
  background-color: rgba(244, 67, 54, 0.8);
  color: black;
}

// ターゲット
.target-audience {
  background-color: rgba(255, 193, 7, 0.8);
  color: black;
}

// 今後の展望
.future-goals {
  background-color: rgba(0, 188, 212, 0.8);
  color: black;
}

// お問い合わせ
.contact-info {
  background-color: rgba(194, 47, 219, 0.8);
  color: black;
}