/*    新規登録画面のフォームの設定    */
.auth-page-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.auth-form {
  .auth-link-message {
    font-size: 1.2rem;
  }
}

// レスポンシブ調整
@media (max-width: 768px) {
  .auth-page-title {
    font-size: 1.25rem;
  }

  .auth-form {
    .form-row label {
      font-size: 0.85rem;
    }

    .form-control {
      font-size: 0.8rem;
      padding: 0.4rem 0.5rem;
    }

    .auth-link-message {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .auth-page-title {
    font-size: 1rem;
  }

  .auth-form {
    .form-group {
        margin-bottom: 0;
    }

    .form-row .col-8 {
      padding: 0;
    }

    .form-row label {
      margin: 0;
      padding-left: 0.5rem;
      font-size: 0.7rem;
    }

    .form-control {
      font-size: 0.7rem;
      padding: 0.2rem 0.25rem;
    }

    .auth-link-message {
      font-size: 0.85rem;
    }
  }
}
// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  .auth-page-title {
    font-size: 1.25rem;
  }

  .auth-form {
    .form-row label {
      padding-left: 0.2rem;
      font-size: 0.6rem;
    }

    .form-control {
      font-size: 0.6rem;
    }

    .auth-link-message {
      font-size: 0.8rem;
    }
  }
}

 @media (max-width: 320px) {
  .auth-page-title {
    font-size: 0.75rem;
  }

  .auth-form {
    .form-submit {
      margin-top: 0.5rem;
    }

    .form-row label {
      padding-left: 0.1rem;
      font-size: 0.575rem;
    }

    .form-control {
      font-size: 0.575rem;
    }

    .auth-link-message {
      font-size: 0.7rem;
    }
  }
}