body.homes.top header, 
body.homes.about header, 
body.searches.index header, 
body.all_user_posts.index header, 
body.user_posts.index header, 
body.groups.index header, 
body.groups.my_groups header, 
body.group_posts.index header {
  background-color: rgba(51, 51, 51, 0.8);
}

body.homes.top .sidebar, 
body.homes.about .sidebar, 
body.searches.index .sidebar, 
body.all_user_posts.index .sidebar, 
body.user_posts.index .sidebar, 
body.groups.index .sidebar, 
body.groups.my_groups .sidebar, 
body.group_posts.index .sidebar {
  background-color: rgba(79, 79, 79, 0.8);
}

body.homes.top, 
body.homes.about, 
body.searches.index, 
body.all_user_posts.index,
body.user_posts.index, 
body.groups.index, 
body.groups.my_groups, 
body.group_posts.index {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

body.homes.top {
  background-image: url('../images/home_top_background.png');
}

body.homes.about {
  background-image: url('../images/home_about_background.png');
}

body.searches.index {
  background-image: url('../images/search_index_background.png');
}

body.all_user_posts.index,
body.user_posts.index {
  background-image: url('../images/user_post_index_background.png');
}

body.groups.index, 
body.groups.my_groups {
  background-image: url('../images/group_index_background.png');
}

body.group_posts.index {
  background-image: url('../images/group_post_index_background.png');
}