/*    フッターの設定    */
// フッタータグの設定
footer {
  height: var(--footer-height);
  background-color: #333333;
  position: fixed;                   // 画面上の固定位置に要素を配置
  bottom: 0;
  text-align: center;                // フッター内のテキストを中央揃え
  width: 100%;
  z-index: 999;                      // 前面に出す
}