/*    グループに関する設定    */
// そのまま使うと幅100％、title-box-wrapper内で使うと文字の長さに応じて可変(背景色の長さに応じて使い分ける)
.groups__title-box, 
.groups__sub-title-box {
  margin-bottom: 1.5rem;                // タイトル下に余白を追加
  display: flex;
  align-items: center;
  justify-content: center;
}

.groups__title-box {
  padding: 0.75rem 1.5rem;
  background-color: rgba(108, 136, 160, 0.8);
  border-radius: 8px;
}

.groups__sub-title-box {
  padding: 0.5rem 1rem;
  color: green;
  background-color: rgba(240, 240, 240, 0.7);
  border-radius: 6px;
}

// wrapper配下で使用する場合、wrapperがマージンボトムを管理するのでboxはマージンボトムを0にする
.groups__title-box-wrapper {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .groups__title-box, 
  .groups__sub-title-box {
    display: inline-flex;
    margin-bottom: 0;
  }
}

.groups {
  display: flex;
  flex-direction: column;
}

.group-card {
  --group-card-font-label: 1rem;
  --group-card-font-name: 1.2rem;
  --group-card-font-description: 1.1rem;
  --group-card-font-date: 1rem;

  display: flex;
  align-items: center;                // 縦方向に中央揃え
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.3s;
  gap: 2rem;

  .group-card__image {
    flex: 0 0 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  
  .group-card__image-img {
    max-width: 100%;
    width: 200px;
    aspect-ratio: 6 / 5;                // 横/縦の比率
    border-radius: 90% / 54%;           // 横方向の丸み(半径) / 縦方向の丸み(半径)
    object-fit: cover;
    box-sizing: border-box;             // paddingとborderは幅に含める(marginは含まれない)
  }
  
  .group-card__content {
    flex: 1;                            // 左のボックスで使用しなかった幅を常に使用
    min-width: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;                 // 子要素の絶対位置基準
  }
  
  .group-card__labe,
  .group-card__name, 
  .group-card__description, 
  .group-card__date {
    overflow: hidden;                   // はみ出した部分は非表示
    text-overflow: ellipsis;            // 省略文字「...」を表示
    box-sizing: border-box;
  }
  
  .group-card__labe,
  .group-card__name, 
  .group-card__date {
    display: block;
    max-width : 100%;
    white-space: nowrap;
  }
  
  .group-card__labe, 
  .group-card__date {
    height: 12%;
  }

  .group-card__name, 
  .group-card__description {
    padding-left: 0.8rem;
  }

  .group-card__labe {
    font-size: var(--group-card-font-label);
  }
  
  .group-card__name  {
    height: 22%;
    font-weight: bold;
    font-size: var(--group-card-font-name);
  }
  
  .group-card__description {
    font-size: var(--group-card-font-description);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  
  .group-card__meta {
    position: absolute;
    bottom: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: row;                // 子要素を横並び
  }
  
  .group-card__date {
    font-weight: bold;
    font-size: var(--group-card-font-date);
    color: gray;
    padding-left: 0.4rem;
  }
}

.group-card:hover {
  color: white !important;
  background-color: #007bff;
  text-decoration: none;
  transform: scale(1.03);
}

.group-card:hover h3,
.group-card:hover p,
.group-card:hover span {
  color: white !important;
  text-decoration: none;
}

.group-show-box {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.group-show-box__image-wrapper {
  height: 100%; 
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.group-show__image {
  max-width: 100%;
  width: 240px;
  height: 200px;
  border-radius: 90% / 54%;           // 横方向の丸み(半径) / 縦方向の丸み(半径) 
  object-fit: cover;
  box-sizing: border-box;             // paddingとborderは幅に含める(marginは含まれない)
}

.group-show-box__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto 0;
}

.group-show-box__label, 
.group-show-box__member-count,
.group-show-box__bio {
  white-space: normal;
}

.group-show-box__label, 
.group-show-box__member-count {
  font-size: 1rem;
}

.group-show-box__label {
  font-weight: bold;
}

.group-show-box__bio {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.group-show-box__member-count {
  padding-left: 0.5rem;
}

.my-groups-page {
  --my-groups-page-font-nav: 1.3rem;
  
  .nav-tabs {
    font-size: var(--my-groups-page-font-nav);
    margin-bottom: 1rem;
  }
}

.dashboard__section {
  padding: 24px;
  margin-bottom: 40px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.dashboard__section-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.dashboard__section-footer {
  margin-top: 16px;
  text-align: right;
}

.dashboard__link {
  text-decoration: none;
  color: #007bff;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
  }
}

.dashboard-group__image {
  max-width: 100%;
  width: 330px;
  height: 275px;
  border-radius: 90% / 54%;           // 横方向の丸み(半径) / 縦方向の丸み(半径) 
  object-fit: cover;
  box-sizing: border-box;             // paddingとborderは幅に含める(marginは含まれない)
}

.dashboard__notice-list,
.dashboard__event-list,
.dashboard__post-list,
.dashboard__member-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.dashboard__notice-item,
.dashboard__event-item,
.dashboard__post-item,
.dashboard__member-item {
  margin-bottom: 12px;
}

.dashboard__notice-body,
.dashboard__event-description,
.dashboard__post-meta {
  font-size: 0.9rem;
  color: #555;
}

.dashboard__group-description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard__notice-body {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard__event-datetime {
  font-size: 0.85rem;
  color: #888;
}

.dashboard__post-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dashboard__pin {
  color: gold;
  margin-left: 8px;
}

.dashboard-group__link-right {
  text-align: right;
  margin-top: 0.5rem;
}

.dashboard-group__more-link {
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dashboard-group__list-item:hover,
.dashboard-group__notice-item:hover,
.dashboard-group__event-item:hover {
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
}

.dashboard-group__list {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.group-members__page-title, 
.group-memberships__page-title, 
.group-notices__page-title,
.group-events__page-title, 
.group-posts__page-title {
  margin: 0.5rem 0 1.5rem;
}

.group-memberships__page-title, 
.group-posts__page-title{
  text-align: center;
}

/*  group-members  */
.group-members__title-wrapper {
  display: flex;
  align-items: center;

  .badge-wrapper,
  .btn-wrapper {
    display: inline-flex;
    align-items: center;
    margin: 0.5rem 0 1.5rem;          // group-members__page-titleと合わせる為のマージン  
  }

  .badge-wrapper {
    font-size: 1.25rem;               // このページで使っているほかのバッジと同じ大きさ(h4相当)
    margin-left: 0.75rem;
  }
}

.group-members__section-divider {
  height: 12px;
  background-color: green;
  border-radius: 4px;
  margin: 1.5rem 0;
}

.group-members__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.group-members__item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 50%;
  margin-bottom: 1rem;
}

.group-members__link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.group-members__link:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.group-members__link:hover .group-members__name {
  color: white;
}

.group-members__image-wrapper {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  margin-right: 1rem;
}

.group-members__image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.group-members__name {
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-member__note-wrap {
  white-space: normal;
  overflow-wrap: break-word;
}

/*  group_notice,group_event   */
.notice-index__body, .event-index__body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

/*  group_posts  */
.group-posts__link {
  display: flex;
  flex-direction: row;                // 横並びに変更
  justify-content: center;            // 中央揃えにする
  align-items: center;                // 高さを合わせる
  box-sizing: border-box;             // paddingとborderは幅に含める(marginは含まれない)
  width: 95%;
  height: 200px;                      // 高さ固定
  padding: 1rem;                      // 内側の余白
  margin: 1rem;                       // ボックス間のスペース
  text-decoration: none;              // リンクの下線を消す
  color: inherit;                     // 親要素の色を継承
  background-color: rgba(240, 250, 255, 0.7);
  border: 1px solid #000;           // ボックスの枠線
  border-radius: 8px;                 // 角を丸める
  overflow: hidden;                   // 内容がはみ出さないように制御
  transition: background-color 0.3s, transform 0.3s;
}

.group-posts__link:hover {
  color: #f8f9fa;                   // 文字色を青色に変更
  background-color: #8c9fad;        // 背景色を変更
  text-decoration: none;              // ホバー時の下線を消す 
  transform: scale(1.05);             // 大きさを1.05倍にする
}

// group-posts__dateは文字色を直接指定しているため上記の記載では変更されないので直接設定
.group-posts__link:hover .group-posts__date {
  color: #f8f9fa;
}

.group-posts__list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.group-posts__image-box,
.group-posts__content-box {
  height: 150px;
}

.group-posts__image-box {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-posts__image {
  border-radius: 8px;
  max-width: 100%;
  object-fit: cover;
}

// 右側：情報エリア
.group-posts__content-box {
  width: 55%;
  position: relative;                 // 子要素の絶対位置基準
  display: flex;
  flex-direction: column;             // 縦並びにする
}

// はみ出した部分を隠し...表示、大きさにパディングやマージンも含める
.group-posts__labe, 
.group-posts__user, 
.group-posts__title, 
.group-posts__description, 
.group-posts__date {
  overflow: hidden;                   // はみ出した部分は非表示
  text-overflow: ellipsis;            // 省略文字「...」を表示
  box-sizing: border-box;             // paddingとborderは幅に含める(marginは含まれない)
  line-height: 1.1;                   // 行の高さ(1はフォントサイズと同じ高さの行ボックスを使う)
}

// 左側の空白
.group-posts__user, 
.group-posts__title, 
.group-posts__description {
  padding-left: 0.8rem;
}

// フォントサイズ
.group-posts__user, 
.post-detai__user, 
.group-posts__title, 
.group-posts__description {
  font-size: 1rem;
}
.group-posts__labe, 
.group-posts__date {
  font-size: 0.8rem;
}

// フォントの太さ
.group-posts__user, 
.group-posts__title, 
.group-posts__date {
  font-weight: bold;
}

// 高さと折り返しのなし
.group-posts__labe, 
.group-posts__user, 
.group-posts__title {
  height: 15%;
  white-space: nowrap;                // 1行で表示
}
.group-posts__labe, 
.group-posts__date {
  height: 10%;
}

// 内容のスタイル
.group-posts__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;              // 最大2行まで表示
  -webkit-box-orient: vertical;
  white-space: normal;                // 折り返しを許可
}

// 更新日のスタイル
.group-posts__date {
  position: absolute;
  bottom: 0;
  color: gray;
  padding-left: 0.4rem;
}

// レスポンシブ調整
@media (max-width: 1024px) {
  .groups__title-box, 
  .groups__sub-title-box,
  .groups__title-box-wrapper {
    margin-bottom: 1rem;
  }

  .groups__title-box {
    padding: 0.5rem 1rem;
    border-radius: 6.5px;
  }

  .groups__sub-title-box {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
  }

  .groups__title-box-wrapper {
    gap: 0.75rem;
  }

  .group-card {
    --group-card-font-label: 0.9rem;
    --group-card-font-name: 1.1rem;
    --group-card-font-description: 1rem;
    --group-card-font-date: 0.9rem;

    gap: 1.5rem;

    .group-card__image {
      height: 200px;
    }
    
    .group-card__image-img {
      width: 180px;
    }

    .group-card__content {
      height: 200px;
    }
  }

  .my-groups-page {
    --my-groups-page-font-nav: 1.1rem;
  }
}

@media (max-width: 768px) {
  .groups__title-box, 
  .groups__sub-title-box,
  .groups__title-box-wrapper {
    margin-bottom: 0.75rem;
  }

  .groups__title-box {
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
  }

  .groups__sub-title-box {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }

  .groups__title-box-wrapper {
    gap: 0.5rem;
  }

  .group-card {
    --group-card-font-label: 0.7rem;
    --group-card-font-name: 0.9rem;
    --group-card-font-description: 0.8rem;
    --group-card-font-date: 0.7rem;

    gap: 1rem;

    .group-card__image {
      height: 140px;
    }
    
    .group-card__image-img {
      width: 130px;
    }

    .group-card__content {
      height: 140px;
    }
  }

  .my-groups-page {
    --my-groups-page-font-nav: 1rem;

    .nav-tabs {
      margin-bottom: 0.75rem;
    }

    .nav-link {
      padding: 0.4rem 0.8rem;
    }
  }
}

@media (max-width: 480px) {
  .groups__title-box, 
  .groups__sub-title-box,
  .groups__title-box-wrapper {
    margin-bottom: 0.5rem;
  }

  .groups__title-box {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }

  .groups__sub-title-box {
    padding: 0.15rem 0.3rem;
    border-radius: 3.5px;
  }

  .groups__title-box-wrapper {
    gap: 0.25rem;
  }

  .group-card {
    --group-card-font-label: 0.725rem;
    --group-card-font-name: 0.825rem;
    --group-card-font-description: 0.775rem;
    --group-card-font-date: 0.725rem;

    margin: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;

    .group-card__image {
      height: 120px;
    }
    
    .group-card__image-img {
      width: 110px;
    }

    .group-card__content {
      height: 120px;
    }

    .group-card__meta {
      bottom: 0;
    }
  }

  .my-groups-page {
    --my-groups-page-font-nav: 0.8rem;

    .nav-tabs {
      margin-bottom: 0.5rem;
    }

    .nav-link {
      padding: 0.3rem 0.6rem;
    }
  }
}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  .group-card {
    --group-card-font-label: 0.7rem;
    --group-card-font-name: 0.8rem;
    --group-card-font-description: 0.75rem;
    --group-card-font-date: 0.7rem;

    .group-card__date {
      padding-left: 0.2rem;
    }
  }
}

@media (max-width: 320px) {
  .group-card {
    --group-card-font-label: 0.65rem;
    --group-card-font-name: 0.75rem;
    --group-card-font-description: 0.7rem;
    --group-card-font-date: 0.65rem;

    margin: 0.5rem 0.25rem;
    padding: 0.25rem;
    gap: 0.25rem;

    .group-card__image {
      height: 100px;
    }
    
    .group-card__image-img {
      width: 90px;
    }

    .group-card__content {
      height: 100px;
    }
  }

  .my-groups-page {
    --my-groups-page-font-nav: 0.65rem;

    .nav-link {
      padding: 0.25rem 0.5rem;
    }
  }
}