/*    ヘッダーの設定    */
:root {
  --search-type-font: 1.2rem;
  --nav-button-font: 1.1rem;
  --search-word-font: 1rem;
  --search-button-font: 0.9rem;
}

// ヘッダーブロックの設定
header {
  height: var(--header-height);
  background-color: #333333;
  position: fixed;                  // 画面上の固定位置に要素を配置
  top: 0;
  width: 100%;
  z-index: 1000;                    // 前面に出す
}

// ロゴ画像のスタイル
.site-logo {
	display: block;                   // ブロック要素として表示(中央寄せが効きやすい)
  width: 100%;
  height: 100%;
	object-fit: contain;              // 画像を縦横比を維持して収める(空白あり)
	transition: transform 0.3s ease;  // ホバー時のアニメーションに滑らかさを追加(0.3秒かけて変化)
}

// リンク要素のスタイル(ひし形ロゴを囲う枠)
.logo-link {
	display: flex;                    // 子要素(画像)を中央に配置するためのFlexbox
	align-items: center;              // 垂直方向に中央寄せ
	justify-content: center;          // 水平方向に中央寄せ
	width: var(--header-height);      // リンク全体の横幅
	height: var(--header-height);     // リンク全体の高さ(正方形)
	overflow: hidden;
	position: relative;               // 必要に応じて子要素の絶対配置を可能に

}

// ホバー時の回転で遊び心を追加
.logo-link:hover .site-logo {
  transform: rotate(360deg) scale(1.05);  // 画像を360度回転させ、1.05倍に拡大して少し大きく見せる
}

// 各のボックスの設定
.header__nav-wrapper,
.search-form__categories,
.search-form__inputs {
  display: flex;
  height: calc(var(--header-height) / 2);
  width: 100%;
  padding-top: 0.5rem;
  overflow: hidden;                 // はみ出し防止
  flex-wrap: nowrap;                // 折り返しなし
  box-sizing: border-box;           // paddingを含めてwidth/heightを計算
}

// ナビゲーションアイテムのボックスとラジオボタンのボックスの設定
.header__nav-wrapper,
.search-form__categories {
  align-items: center;
}

// ナビゲーションアイテムのボックスの設定
.header__nav-wrapper {
  justify-content: flex-end;        // 右寄せ
}

// ナビゲーションアイテム
.header__nav-item {
  display: flex;                    // フレックスコンテナとして、子要素を柔軟に並べる
  margin-right: 1rem;               // 右に10pxの余白を追加
}

// 最後のナビゲーションアイテム
.header__nav-item--last {
  margin-right: 0;                  // 最後のボタンの右余白をなくす
}

// 検索フォーム
.search-form {
  display: flex;
  flex-direction: column;
}

// ラジオボタンのボックスと入力ボックスのボックスの設定
.search-form__categories,
.search-form__inputs {
  justify-content: center;          // 横方向(主軸)中央寄せ
}

// ラジオボタンの設定
.search-form__category {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0;
  cursor: pointer;
  color: white;
  font-size: var(--search-type-font);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

// ラジオボタンは非表示せず
input[type=radio] {
  display: none;
}

// カテゴリが選択されている状態
input[type="radio"]:checked + label {
  background-color: #a6c9a7;
  color: black;
}

// 入力ボックスのボックスの設定
.search-form__inputs {
  align-items: stretch;              // 子要素が同じ高さで上下揃う
}

// 入力フォームのボックスと検索ボタンのボックスの設定
.search-form__field-group,
.search-form__button-wrapper {
  margin: 0 1.5%;
}

// 入力フォームのボックスの設定
.search-form__field-group {
  width: 40%;
}

// 検索ボタンのボックスの設定
.search-form__button-wrapper {
  width: 10%;
}

// 入力フィールドとボタンの共通
.search-form__field,
.search-form__exclude-field,
.search-form__button {
  height: 30px;
}

// 入力フィールドの設定
.search-form__field,
.search-form__exclude-field {
  padding: 0.5rem;
  font-size: var(--search-word-font);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

/*    ボタンの設定   */
// ヘッダーのリンクボタンの設定
// 通常時
.header__nav-button {
  font-size: var(--nav-button-font);
  color: #808080;
  border-color: #808080;
}

// ホバー時
.header__nav-button:hover {
  color: black;
  border-color: black;
  background-color: white;
}

// クリック時
.header__nav-button:active {
  color: #FFFFFF;
  border-color: #388E3C;
  background-color: #388E3C;
}

// 検索ボタン 
// 通常時
.search-form__button {
  width: 100%;
  font-size: var(--search-button-font);
  color: white;
  border-color: white;
  margin: 0;
  line-height: 1;                   // テキストの余白によるズレを回避 
}

// ホバー時
.search-form__button:hover {
  color: black;
  border-color: black;
  background-color: #a6c9a7;
}

// クリック時
.search-form__button:active {
  color: #FFFFFF;
  border-color: #388E3C;
  background-color: #a6c9a7;
}

// フォーカス時
.search-form__button:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.5);
}

/* レスポンシブ調整*/
@media (max-width: 1024px) {
  .search-form__category {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
  }

  .search-form__field-group, 
  .search-form__button-wrapper {
    margin: 0 1%;
  }

  .search-form__field-group {
    width: 40%;
  }

  .search-form__button-wrapper {
    width: 14%;
  }

  // フォーム送信ボタンの設定
  .btn-base {
    padding: 0;
  }
}

@media (max-width: 768px) {
  :root {
    --search-type-font: 0.9rem;
    --nav-button-font: 0.8rem;
    --search-word-font: 0.7rem;
    --search-button-font: 0.6rem;
  }

  .search-form__category {
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
  }

  // ログインボタンの設定
  .btn {
    padding: 0.3rem 0.6rem;
  }

  .search-form__inputs {
    padding-top: 0.4rem;
  }

  .search-form__field-group, 
  .search-form__button-wrapper {
    margin: 0 1%;
  }

  .search-form__field-group {
    width: 40%;
  }

  .search-form__button-wrapper {
    width: 10%;
  }

  .search-form__field, 
  .search-form__exclude-field, 
  .search-form__button {
    height: 22.5px;
  }
}

@media (max-width: 480px) {
  :root {
    --header-height: 10vh;
    --search-type-font: 0.5rem;
    --nav-button-font: 0.35rem;
    --search-word-font: 0.4rem;
    --search-button-font: 0.4rem;
  }

  .col-2, 
  .col-8 {
    padding: 0;
  }

  .search-form__category {
    padding: 0.1rem 0.15rem;
    border-radius: 2.5px;
  }

  // ログインボタンの設定
  .btn {
    padding: 0.2rem 0.4rem;
    border-radius: 0.15rem;
  }

  // .search-form__inputsをpadding-top: 0;しても余白が残るため直接指定
  .search-form__field-group, 
  .search-form__button-wrapper {
    display: flex;
    align-self: flex-start;
  }

  .search-form__field-group {
    width: 38%;
  }

  .search-form__field, 
  .search-form__exclude-field, 
  .search-form__button {
    height: 15px;
  }

  .search-form__field, 
  .search-form__exclude-field {
    padding: 0.2rem;
    border: 0.5px solid #ccc;
    border-radius: 3px;
  }
}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  :root {
    --search-type-font: 0.4rem;
    --nav-button-font: 0.3rem;
    --search-word-font: 0.3rem;
    --search-button-font: 0.3rem;
  }

  .search-form__inputs {
    padding-top: 0.2rem;
  }

  .btn {
    padding: 0.1rem 0.2rem;
    border-radius: 0.15rem;
  }

  .search-form__field, 
  .search-form__exclude-field, 
  .search-form__button {
    height: 10px;
  }

  .search-form__button-wrapper {
    width: 12%;
  }

  .search-form__field, 
  .search-form__exclude-field {
    border-radius: 2px;
  }
}

@media (max-width: 320px) {
  :root {
    --sidebar-left-font-link: 0.225rem;
  }
}