/*    メインコンテンツの設定    */
:root {
  --main-content-view: calc(100vh - var(--header-height) - var(--footer-height));
}

// メインコンテンツタグの設定
.main-content {
  margin: var(--header-height) var(--sidebar-width) var(--footer-height) var(--sidebar-width);
  overflow-y: auto;
  height: var(--main-content-view);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;             // paddingを加えた大きさにする
  -ms-overflow-style: none;           // スクロールバーを非表示、Internet Explorer 10+ 対応
  scrollbar-width: none;              // スクロールバーを非表示、Firefox 64+ 対応
}

// Webkit系ブラウザ(Chrome、Safariなど)にスクロールバーを非表示にする
.main-content::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

// レスポンシブ調整
@media (max-width: 480px) {
  .main-content {
    margin: var(--header-height) 0 0 0;
    width: 100vw;
    padding: 0.75rem;
    padding-right: 1rem;            // モバイルの場合、右側にスクロールバーが表示されるので右に多めに余白
    padding-bottom: calc(0.75rem + env(safe-area-inset-bottom));  // iOSなどでナビゲーションに被らないよう
  }

  .col-12 {
    padding: 0;
  }
}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  .main-content {
    padding: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
  }
}

@media (max-width: 320px) {
  .main-content {
    padding: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: calc(0.25rem + env(safe-area-inset-bottom));
  }
}