/*    メインコンテンツの設定    */
:root {
  --main-content-view: calc(var(--full-height) - var(--header-height) - var(--footer-height));
}

// メインコンテンツタグの設定
.main-content {
  margin: var(--header-height) var(--sidebar-width) var(--footer-height) var(--sidebar-width);
  overflow-y: auto;
  height: var(--main-content-view);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;             // paddingを加えた大きさにする
  -ms-overflow-style: none;           // スクロールバーを非表示、Internet Explorer 10+ 対応
  scrollbar-width: none;              // スクロールバーを非表示、Firefox 64+ 対応
}

// Webkit系ブラウザ(Chrome、Safariなど)にスクロールバーを非表示にする
.main-content::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

// レスポンシブ調整(モバイル対応)
@media (max-width: 768px) {
  .main-content {
    padding-bottom: env(safe-area-inset-bottom);  // iOSなどでナビゲーションバーに被らないようするに設定
  }

  // デフォルトで左右に15pxの余白があるので、すべてのcolを対象に余白を変更する
  // ^=は指定した文字列で始まる属性値、*=は指定した文字列を含む属性値(" col"はスペース＋colを対象)
  [class^="col"],
  [class*=" col"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

@media (max-width: 480px) {
  :root {
    --main-content-view: calc(100dvh - var(--header-height) - var(--footer-height));
  }

  .main-content {
    margin: var(--header-height) 0 0 0;
    width: 100vw;
    padding: 0.75rem;
    padding-right: 1rem;            // モバイルの場合、右側にスクロールバーが表示されるので右に多めに余白
    padding-bottom: calc(0.75rem + env(safe-area-inset-bottom));  // padding分も足す
  }

  [class^="col"],
  [class*=" col"] {
    padding: 0;
  }
}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
  .main-content {
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
  }
}

@media (max-width: 320px) {
  .main-content {
    padding-left: 0.25rem;
    padding-right: 0.5rem;
    padding-bottom: calc(0.25rem + env(safe-area-inset-bottom));
  }
}