/*    サイドバーの設定    */
// サイドバーの共通設定 
.sidebar {
  background-color: #4f4f4f;
  height: 100vh;
  width: var(--sidebar-width);
  position: fixed;                   // 画面上の固定位置に要素を配置
  top: var(--header-height); 
  bottom: var(--footer-height);
  padding: 1rem 0.75rem 0;
  z-index: 998;                      // 前面に出す
}

// 左サイドバータグの設定
.sidebar-left {
  left: 0;
}

// 右サイドバータグの設定
.sidebar-right {
  right: 0;
}