/*    コメントの設定    */
.user-comments {
  margin-bottom: 1rem;

  &__form-row {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-left: 0.5rem;
  }

  &__textarea {
    flex: 1;
    resize: vertical;

    font-size: 1rem;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    min-height: calc(1.5rem * 1 + 0.25rem*2);
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  &__submit input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    white-space: nowrap;
  }
}

.comment-body {
  word-break: break-word;
  max-width: 100%;
}

.comment-body p {
   margin-bottom: 0;
}

.reply-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.reply-form-wrapper textarea {
  width: 80%;
  height: 2.5rem;
  resize: none;
  font-size: 0.9rem;
}

.reply-form-wrapper input[type="submit"] {
  width: 15%;
  height: 2.5rem;
  font-size: 0.9rem;
}

.comment__profile-link {
  display: flex;
  align-items: center;
  color: #212529;
  text-decoration: none;
}

.comment__profile-link:hover {
  text-decoration: underline;
}

.comment__profile-image {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 35px;
  height: 35px;
  object-fit: cover;
}


// レスポンシブ調整
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

// 管理ツールを使用して確認を行った際に@media (max-width: 375px)では機能しなかったため376pxと定義
@media (max-width: 376px) {
}

@media (max-width: 320px) {
}