.user-comments__form-wrapper {
  margin-bottom: 1rem;
}

.user-comments__form-row {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-left: 0.5rem;
}

.user-comments__textarea {
  flex: 1;
  resize: vertical;
}

.comment-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.comment-form__submit input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.comment-body {
  word-break: break-word;
  max-width: 100%;
}

.comment-body p {
  margin-bottom: 0;
}

.reply-form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.reply-form-wrapper textarea {
  width: 80%;
  height: 2.5rem;
  resize: none;
  font-size: 0.9rem;
}

.reply-form-wrapper input[type="submit"] {
  width: 15%;
  height: 2.5rem;
  font-size: 0.9rem;
}