<header class="container-fluid">
  <div class="row">
    <div class="col-6 offset-4">
      <% if admin_signed_in? %> 
        <%= render 'admin/shared/header/global_search' %>                   <!-- 検索フォーム -->
      <% end %>
    </div>
    <div class="col-2">
      <div class="header__nav-wrapper"> 
        <ul class="nav">
          <% if admin_signed_in? %>                                 <!-- 管理者がサインインした場合 -->
            <%= render 'admin/shared/header/admin_nav' %>
          <% else %>                                                <!-- サインインしていない場合 -->
            <%= render 'admin/shared/header/no_user_nav' %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>