<h2>退会確認</h2>
<p>本当にアカウントを削除しますか？</p>

<%= form_with url: user_withdraw_path(@user), method: :patch do |f| %>
    <%= f.submit 'アカウントを削除する', class: 'btn btn-danger',
      data: { confirm: '本当にアカウントを削除してもよろしいですか？' } %>
  ボタンリンク追加
<% end %>